@use "../abstract" as abs;

.card {
    border-radius: 15px;
}

.card-speaker {
    min-width: 190px;
    max-width: 240px;
}

.card-body {
    .card-title {
        color: black;
        font-size: 23px;
        font-weight: 500;
        line-height: 1.4em;
        transition-property: all;
        transition-duration: 500ms;

        &:hover{
            transform: scale(1.05);
        }
    }

    .large {
        max-width: 80%;
    }

    .card-text {
        font-size: 17px;
    }

    .event-time {
        color: abs.$primary-color;
    }

    .event-speaker {
        color: black;
    }
}

@media screen and (max-width:767px){
    .card {
        text-align: center;
    }
    
    .card-speaker {
        min-width: 130px;
    }

    .card-body {
        .large {
            max-width: 100%;
        }
        .card-title {
            font-size: 20px;
        }
        .card-text {
            font-size: 15px;
        }
    
    }
}