@use "../abstract" as abs;

body {
    background: url("../images/bg-body.png");
    color: abs.$secondary-color;
    font-family: abs.$font-stack;
}

.section-head {
    padding-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: abs.$secondary-color;
    font-weight: bold;
    font-size: 40px;

    .change-color {
        color: abs.$primary-color;
    }
}

section {
    margin-bottom: 200px;
}

@media screen and (max-width:767px){
section {
    margin-bottom: 150px;
}

.section-head {
    font-size: 30px;
}
}
